* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter, Arial, sans-serif;
  line-height: 1;
  color: #343a40;
}

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  gap: 86px;
  width: 800px;
  margin: 100px auto;
  padding: 32px 48px 32px 86px;
  border-radius: 8px;
  background-color: #087f5b;
}

img {
  width: 200px;
  border-radius: 8px;
  transform: scale(1.5);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

img:hover {
  transform: scale(1.6);
}

.testemonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}
.testemonial-author {
  font-size: 14px;
  margin-bottom: 4px;
  color: #c3fac8;
}
.testemonial-job {
  font-size: 12px;
  color: #c3fac8;
}

/* CONTROLS */
.arrow-button {
  position: absolute;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  cursor: pointer;
}

.arrow-button-left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
}

.arrow-button-left:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.arrow-button-right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}

.arrow-button-right:hover {
  transform: translate(50%, -50%) scale(1.1);
}

.arrow-button-icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.dots-buttons {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 32px);
  display: flex;
  gap: 12px;
}

.dot {
  width: 12px;
  height: 12px;
  border: 2px solid #087f5b;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.dot:first-child {
  background-color: #087f5b;
}
